
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}